body {
  font-family: sans-serif;
}

/* Styles for the div that wraps the entire card */

.card {box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
  border: 1px solid black;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* Styles for the card image (<img/) element */
.card img {
  width: 500px;
  object-fit: cover;}

/* Styles for the div that wraps the text area of the card */
.card-text-box {}
